<div class="card">
    <img src="<%= post.img_url %>" alt="Blog post image" class="card__image">
    <div class="card__content">
        <h3 class="card__title"><%= post.title %></h3>
        <p class="card__description"><%= post.description %></p>
        <a href="/blog/<%= post.blog_id %>" class="card__button">Leer más</a>
    </div>
</div>
