<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Blogs</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/blog_search.css">
</head>
<body>
    <%- include('partials/navbar', { username: username, current_page: 'blog_search' }) %>

    <div class="blog-search__container">
        <form id="blog-search-form" action="/blog-search-results" method="GET">
            <h1 class="blog-search__title">Buscar Blogs</h1>
            <input type="text" class="blog-search__search-bar" placeholder="Buscar por título o descripción..." id="searchTerm" name="searchTerm">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    <div class="blog-search__grid">
        <% data.forEach(post => { %>
            <%- include('partials/_blog_card', { post: post }) %>
        <% }); %>
        <% if (data.length === 0) { %>
            <p>No encontramos el blogpost que estaba buscando</p>
        <%}%>
        <% if (data.length < 3) { %>
            <a href="/blog-search" class="navbar__utils__login__button">Blogs</a>
        <%}%>
    </div>
</body>
</html>