<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asistente de IA</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/ia_assistance.css">
        <link rel="stylesheet" href="/styles/navbar.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,75..100;1,75..100&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/_toast_ia_assistance') %>

        <main class="ai__assistance__main">
            <div class="ai_assistance__header__container">
                <h1 class="ai_assistance__header__title">Asesoría IA Agrícola</h1>
                <p  class="ai_assistance__header__description">Sube una imagen de tu cultivo y obtén recomendaciones personalizadas</p>
            </div>
            <form id="ai-form" class="ai__assistance__form__container">
                <div class="ai__assistance__form__container__left">
                    <p class="ai__assistance__form__container__left__title">
                        <img src="/images/camera_icon.svg" alt="" style="width: 30px;"> 
                        Imagen del cultivo
                    </p>

                    <div id="upload-initial-state" class="ai__assistance__form__container__left__container">
                        <img class="ai__assistance__form__container__left__container__img" src="/images/upload_icon.svg" alt="">
                        <h1 class="ai__assistance__form__container__left__container__title">Sube una imagen de tu cultivo</h1>
                        <p class="ai__assistance__form__container__left__container__description">PNG, JPG hasta 10MB</p>
                        
                        <label for="image-upload" class="ai__assistance__form__container__left__container__button">Seleccionar imagen</label>
                        <input id="image-upload" type="file" accept="image/*" style="display: none;" name="image"/>
                    </div>

                    <div id="upload-finished-state" class="ai__assistance__form__container__left__container" style="display: none;">
                        <img class="ai__assistance__form__container__left__container__img" src="/images/image_upload_already.svg" alt="">
                        <h1 id="file-name" class="ai__assistance__form__container__left__container__title"></h1>
                        <p class="ai__assistance__form__container__left__container__description">PNG, JPG hasta 10MB</p>
                        
                        <label for="image-upload" class="ai__assistance__form__container__left__container__button">Cambiar imagen</label>
                    </div>
                </div>

                <div class="ai__assistance__form__container__right">
                  <p class="ai__assistance__form__container__right__title">Contexto de la situacion</p>
                  
                  <textarea id="context" class="ai__assistance__form__container__right__input" rows="4" cols="50" pattern="[A-Za-z0-9]+"  type="text"  name="context" 
                  placeholder="Describe la situacion de tu cultivo: síntomas observados, condiciones climaticas, tipo de suelo, tratamientos previos..." 
                  ></textarea>
                  <button type="submit" class="ai__assistance__form__container__right__button">
                      <img class="ai__assistance__form__container__right__button__img" src="/images/bulb_icon.svg" alt="">
                      Obtener Asesoría
                  </button>
                </div>
            </form>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="/js/ia_assistance.js"></script>
    </body>
</html>