<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/toast.css">
</head>
<body>
    <%- include('partials/navbar', { username: username, current_page: 'login' }) %>
    <div class="login">
        <div class="login__container">
            <% if (message) { %>
                <%- include('partials/_toast', { message: message }) %>
            <% } %>
            
            <h1 class="login__title">Iniciar Sesi칩n</h1>
            <form class="login__form" action="/api/login" method="post">
                <input class="login__form__input" type="email" name="username" placeholder="Correo Electr칩nico" required>
                <input class="login__form__input" type="password" name="password" placeholder="Contrase침a" required>
                <button class="login__form__button" type="submit">Iniciar Sesi칩n</button>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            if ($('.toast').length) {
                $('.toast').toast('show');
            }
        });
    </script>
</body>
</html>