:root {
    --color-primary: #5AFAAE;
    --color-secondary: #5AFAE4;
    --color-accent1: #5BFB79;
    --color-accent2: #79FA5A;
    --color-light-green: #ADFABB;
    --color-lime-green: #BCFA5A;
    --color-white: #FFFFFF;
    --color-dark-text: #333333;
    --color-grey-bg: #f9fafb;
    --color-grey-border: #e5e7eb;
}

.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .login__container {
        max-width: 500px;
        width: 50%;
        margin: 5rem auto;
        padding: 3rem;
        background: var(--color-grey-bg);
        border: 1px solid var(--color-grey-border);
        border-radius: 8px;
        text-align: center;
    }

    & .login__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: var(--color-dark-text);
    }

    & .login__form {
        & .login__form__input {
            width: 100%;
            padding: 0.8rem;
            margin-bottom: 1rem;
            border: 1px solid #ddd;
            border-radius: 6px;
        }

        & .login__form__button {
            width: 100%;
            padding: 0.8rem;
            background: #16a34a;
            color: var(--color-white);
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
            transition: background 0.3s;

            &:hover {
                background: #15803d;
            }
        }
    }
}
